.main_div{
	overflow:hidden;
}
.imgs1{
padding:0;
background-image: url('../img/Healthcare_Pharmaceutical.jpg');
background-size: 100% 100%;
height: 335px !important;

}
.imgs2{
padding:0;
background-image: url('../img/Automotive_Transportation.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs3{
padding:0;
background-image: url('../img/Banking_FInance.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs4{
padding:0;
background-image: url('../img/Information_Technology.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs5{
padding:0;
background-image: url('../img/Fashion.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs6{
padding:0;
background-image: url('../img/Travel_Tourism.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs7{
padding:0;
background-image: url('../img/Telecommunication.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs8{
padding:0;
background-image: url('../img/Electronics.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs9{
padding:0;
background-image: url('../img/Hospitality.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs10{
padding:0;
background-image: url('../img/Food_Beverages.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs11{
padding:0;
background-image: url('../img/Energy.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs12{
padding:0;
background-image: url('../img/Real_Estate.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs13{
padding:0;
background-image: url('../img/FMCG.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs14{
padding:0;
background-image: url('../img/Education.jpg');
background-size: 100% 100%;
height: 335px !important;
}
.imgs15{
padding:0;
background-image: url('../img/Social_Media.jpg');
background-size: 100% 100%;
height: 335px !important;
}

.image{
width:100%;	
}

.ch-item {width: 100%; height: 335px !important; padding:0; position: relative; cursor: default; -webkit-perspective: 900px; -moz-perspective: 900px; -o-perspective: 900px; -ms-perspective: 900px; perspective: 900px;}
.ch-item > div {position: absolute; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d;}
.ch-item > div > div {display: block; position: absolute; width: 100%; height: 100%; background-position: center center; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -ms-transition: all 0.4s linear; transition: all 0.4s linear; -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; -o-transform-origin: 50% 0%; -ms-transform-origin: 50% 0%; transform-origin: 50% 0%; }

.ch-info .ch-info-front {
	/*box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);*/
}

.ch-info-back {-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg); -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg); -o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg); -ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg); transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg); opacity: 0;}

/*-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);*/
.ch-info .ch-info-back {background-color: #9370DB;}
.ch-info1 .ch-info-back {background-color: #00FA9A;}
.ch-info2 .ch-info-back {background-color: #FA8072;}
.ch-info3 .ch-info-back {background-color: #00BFFF;}
.ch-info4 .ch-info-back {background-color: #FF1493;}
.ch-info5 .ch-info-back {background-color: #F0E68C;}
.ch-info6 .ch-info-back {background-color: #7FFFD4;}
.ch-info7 .ch-info-back {background-color: #DC143C;}
.ch-info8 .ch-info-back {background-color: #1E90FF;}
.ch-info9 .ch-info-back {background-color: #FFD700;}
.ch-info10 .ch-info-back {background-color: #7B68EE;}
.ch-info11 .ch-info-back {background-color: #7FFF00;}
.ch-info12 .ch-info-back {background-color: #FF6347;}
.ch-info13 .ch-info-back {background-color: #FFDEAD;}
.ch-info14 .ch-info-back {background-color: #4169E1;}


.ch-info-back h3 {color: #fff; text-transform: uppercase; letter-spacing: 2px; font-size: 24px; margin: 0 15px; padding: 150px 0 0 0; height: 110px; font-family: Nexa-Black; text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3); text-align: center; }

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg); -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg); -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg); -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg); transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg); opacity: 0;}
.ch-item:hover .ch-info-back {-webkit-transform: rotate3d(1,0,0,0deg); -moz-transform: rotate3d(1,0,0,0deg); -o-transform: rotate3d(1,0,0,0deg); -ms-transform: rotate3d(1,0,0,0deg); transform: rotate3d(1,0,0,0deg); opacity: 1; }